body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#messageInput {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border: 2px solid #007bff;
  border-radius: 5px;
  margin-bottom: 10px;
}

#saveButton button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease;
}

#saveButton button:hover {
  background-color: #0056b3;
}

#buttons {
  margin-top: 20px;
  display: flex;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

#noButton {
  background-color: #dc3545;
}

#noButton:hover {
  background-color: #c82333;
}

.instructions {
  list-style-type: disc;
  margin-left: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

.instructions li {
  margin-bottom: 10px;
}

.social-links {
  position: fixed;
  bottom: 50px;
  right: 100px;
  display: flex;
  gap: 10px;
}

.social-links a {
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
  border-radius: 5px;
}

.social-links a:hover {
  color: #0d8ddb; /* Darker blue on hover */
}

.social-links a.instagram {
  color: #e4405f; /* Instagram gradient color */
}

.social-links a.instagram:hover {
  color: #cc3461; /* Darker Instagram color on hover */
}
